black>=24.3.0
coverage>=5.5
flake8>=3.8.4
isort>=5.10.1
mccabe>=0.6.1
mypy>=0.812
pep8-naming>=0.10.0
pep8>=1.7.1
pre-commit>=2.7.1
pycodestyle>=2.6.0
pydocstyle>=6.0.0
pyflakes>=2.2.0
pylint>=2.5.3
pyroma>=3.1
pytest-check>=1.0.1
pytest-cov>=2.11.1
pytest-xdist>=2.5.0
pytest>=5.0.1
responses>=0.13.2
respx>=0.20.1
types-attrs>=19.0.0
